* {
    max-width: 100%;
    padding: 0%;
    margin: 0%;
}

.jumbotron {
    width: 100%;
    height: 500px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F40%2F92%2FHvIEnr.png&f=1&nofb=1&ipt=19a4ff45620e749348c4ab195a1e913450f5e50d9261991d8f1c042606465460&ipo=images");
    background-size: cover;
    background-position: bottom;
    color: #f8f9fa;
}

.no-shadow {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 5rem;
    
    .slide {
        // border: 1px solid red;
        height: 300px;
        opacity: 0.5;
        transition: opacity .3s ease;
    }

    .vueperslide__content-wrapper {

        text-align: left !important;
        background-color: #f0f3f4;
        // border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        .vueperslide__title {
            // color: c.$powder-color;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .vueperslide__content {
            // color: c.$grtext-color;
        }

    }

    .vueperslides__arrow {
        transform: translateY(-50%) !important; 
    }

    .vueperslides__parallax-wrapper {
        padding-bottom: 0% !important;
        height: 300px;
    }

    .vueperslides__track {
        height: 300px;
    }

    .vueperslides__track-inner {
        height: 300px;
    }

    .profile-image {
        width: 50px;
        height: 50px;
    }

    .vueperslides__bullet--active {
        // color: c.$powder-color;
    }

    .vueperslide--active {
        // opacity: 1;
        
        // border-radius: 25px;
    }
}